<p style='text-align: center'>
   <a href='https://waylonwalker.com/notes/eight-years-cat'>
   <img
      style='width:500px; max-width:80%; margin: auto;'
      src="https://waylonwalker.com/eight-years-cat.png"
      alt="My first eight years as a working professional article"
      />
   </a>
</p>
