---
new_page_extension: md
auto_deploy: false
admin_path: "/static/admin"
webhook_url: 
sections:
- type: directory
  path: src/pages/hot_tips
  label: hot-tips
  create: all
  match: "**/*"
  new_doc_ext: md
  templates:
  - hot-tip
- type: directory
  path: src/pages/blog
  label: Posts
  create: documents
  match: "**/*"
  new_doc_ext: md
  templates:
  - new-post
- type: directory
  path: src/pages/notes
  label: Notes
  create: documents
  match: "**/*"
  new_doc_ext: md
  templates:
  - new-note
- type: directory
  path: src/pages/gratitude
  label: gratitude
  create: all
  match: "**/*"
  templates:
  - gratitude2
- type: document
  path: static/_redirects
  label: redirects
upload_dir: static
public_path: "/static"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_output_directory: public
  install_dependencies_command: npm install
  preview_docker_image: forestryio/build:latest
  mount_path: "/opt/buildhome/repo"
  instant_preview_command: gatsby develop -H 0.0.0.0 -p 8080
