@font-face {
    font-family: 'WaterLilly';
    src: url('../static/fonts/Waterlily\ Script.ttf') format('ttf');
    /* src: url('../src/components/styles/fonts/Waterlily\ Script.ttf') format('ttf'); */
    font-weight: normal;
    font-style: normal;
}


/* font converted using font-converter.net. thank you! */

@font-face {
    font-family: "Waterlily-Regular";
    src: url("./fonts/WaterlilyScript.eot");
    /* IE9 Compat Modes */
    src: url("./fonts/WaterlilyScript.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/WaterlilyScript.otf") format("opentype"), /* Open Type Font */
    url("./fonts/WaterlilyScript.svg") format("svg"), /* Legacy iOS */
    url("./fonts/WaterlilyScript.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/WaterlilyScript.woff") format("woff"), /* Modern Browsers */
    url("./fonts/WaterlilyScript.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


/* @import url('https://fonts.googleapis.com/css?family=Amiko|Arima+Madurai|Farsan|Lalezar|Mogra|Rakkas|Rasa|Shrikhand|Suez+One|Yatra+One'); */

@import url('https://fonts.googleapis.com/css?Space+Mono:wght@400;700');
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Space Mono", monospace;
}

h1 {
    font-family: "Space Mono", monospace;
    color: #6A65CA;
    color: #FF66C4 !important;
    /* font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px; */
}

h2 {
    color: hsla(323, 47%, 70%, 1) !important;
}

h3 {
    font-family: "Space Mono", monospace;
    /* font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px; */
}

p {
    font-family: "Space Mono", monospace;
    color: rgba(255, 255, 255, 0.85)
    /* font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px; */
}

blockquote {
    font-family: "Space Mono", monospace;
    /* font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px; */
}

code {
    font-family: "Space Mono", monospace;
}

pre {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-family: "Space Mono", monospace;
    font-family: "Space Mono", monospace;
    /* font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px; */
}

a {
    font-family: "Space Mono", monospace;
    color: #6F6BAE;
    text-decoration-color: goldenrod;
}


/* h1 {
    font-size: 4rem;
    font-family: 'Waterlily-Regular';
    color: #6A65CA;
    background: -webkit-linear-gradient(#a7a4e0, #6A65CA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, .3)
} */