
@font-face {
    font-family: 'GallowTree';
    /* src: url('../styles/fonts/thecathashat-webfont.ttf') format('ttf'); */
    src: url('./GallowTreeFree-Regular.ttf') format('ttf'), url('./GallowTreeFree-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

.month {
    font-family: 'GallowTree' !important;
}